<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257942614988-lthkjdo71239c6vs3k5mpmuo01h7f3ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257942614988-lthkjdo71239c6vs3k5mpmuo01h7f3ob</string>
	<key>API_KEY</key>
	<string>AIzaSyACL2UHMYhBr4J-iOmBCKrjOGlz8VzrobY</string>
	<key>GCM_SENDER_ID</key>
	<string>257942614988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antonio.emailsenha</string>
	<key>PROJECT_ID</key>
	<string>auth-e5d59</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-e5d59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257942614988:ios:e8f6b20a5afd78df182369</string>
</dict>
</plist>